<div class="wrapper-light-grey">
  <div class="card-container">
    <div class="row">
      <div class="cards">
      <% @listing.each do |listing| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card">
            <%= link_to listing_path(listing) do %>
              <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url(<%= listing.photo %>);">
                <span class="card-category"><%= listing.location %></span>
                <div class="card-description">
                  <h2><%= listing.title %></h2>
                </div>
              </div>
            <% end %>
              <div class="card-footer">
                  <div class="wishlist-link">
                    <a href="#"><i class="fa fa-heart"></i></a>
                  </div>
                <p>$<%= listing.price %> usd</p>
                <p> <%= listing.reviews.count %> Reviews (avg. <%= listing.reviews.average(:rating).to_f.round(1)%>)</p>
              </div>
            </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
