<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 text-center">
      <div class="form_card">
        <h1>Add a Listing</h1>
        <!-- <p>Find me in app/views/listings/new.html.erb</p> -->

        <%= simple_form_for @listing do |f| %>
          <%= f.input :title %>
          <%= f.input :photo %>
          <%= f.input :description %>
          <%= f.input :location %>
          <%= f.input :workhours %>
          <%= f.input :kitchen, as: :boolean %>
          <%= f.input :price %>
          <%= f.submit "Add Listing", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


