<!-- PAGE DISPLAYING ALL LISTINGS
 -->

<div class="container">
  <div class="listing-banner">
    <div class="info text-center">
      <h1><%= @listing.title %></h1>
      <h3>£<%= @listing.price%> per day</h3>
      <h3> <%= @listing.reviews.count %> Reviews (avg. <%= @listing.reviews.average(:rating).to_f.round(1)%>)</h3>
    </div>
    <div class="listing-photo" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url(<%= @listing.photo %>);width: 100%">>

    </div>

  </div>
</div>

<div class="container">
  <div class="listing-detail">

    <div class="details text-center">


      <div class="key-info">
        <h3>Description</h3>
        <p><%= @listing.description%></p>
          <ul style="list-style: none;">
            <li>You can work here from <%= @listing.workhours%></li>
            <li>
              <%= "You are allowed to use the kitchen" if @listing.kitchen%>
            </li>
          </ul>
        </div>

        <div class="reviews">
          <h3>Reviews</h3>


          <% @listing.reviews.each do |review| %>
          <div class="review_card">
            <h4>
            <% review.rating.times do %>
              <i class="fas fa-star"></i>
            <% end %>
            </h4>
            <p> <%= review.content %></p>
          </div>
          <% end %>
        </div>






    </div>






  <div class="book">
    <div class="form-container">
      <div class="sticky-card">
        <div class="form_card text-center">
          <h1>Book this home</h1>
            <%= simple_form_for [@listing, @booking] do |f| %>
            <!-- , url: listing_bookings_path, method: :post  -->
            <%= f.input :start_date %>
            <%= f.input :end_date %>
            <%= f.submit "Book this desk", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>


    </div>
  </div>
</div>
























    </div>
  </div>
</div>
