<!-- PAGE DISPLAYING ALL LISTINGS
 -->

<div class="container text-center">
    <h2><%= @listing.title %></h2>
      <h3><%= @listing.description%></h3>
        <ul style="list-style: none;">
         <li><%= @listing.workhours%></li>
        <li> <%= @listing.kitchen %></li>
      <li><%= @listing.price %></li>
    </ul>
</div>

<div class="listing_photo">
  <img src="<%= @listing.photo%>" alt="">
</div>
