<div class="navbar-desko">
    <a href="#">
      <%= link_to root_path do %>
        <%= image_tag('DESKO.jpg') %>
      <% end %>
    </a>
  <div class="navbar-desko-actions d-none d-sm-flex">
   <% if user_signed_in? %>
      <div class="my-navbar-container">
        Logged in as <%= current_user.first_name || current_user.name%>

          <div class="navbar-right">
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-desko-link'  %>
            <%= link_to "Add a listing", new_listing_path, :class => 'navbar-desko-link' %>  <%= link_to "View your bookings", bookings_path, :class => 'navbar-desko-link' %>
          </div>
      </div>

      <% else %>
         <%= link_to "Login", new_user_session_path, :class => 'navbar-desko-link'  %>
         <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-desko-link'%>
      <% end %>
  </div>
</div>
