<h1>Reviews#new</h1>
<p>Find me in app/views/reviews/new.html.erb</p>

<%= simple_form_for @review, url: listing_booking_reviews_path, method: :post do |f| %>
  <%= f.input :content %>
  <%= f.collection_radio_buttons :rating, [[5], [4], [3], [2], [1]], :first, :last, item_wrapper_tag: false, boolean_style: :inline do |b| %>
  <%= b.radio_button + b.label {''} %>
<% end %>
<br>
  <%= f.submit "Add Review", class: "btn-ghost" %>
<% end %>





